@model List<string>
<form method="post">
    <select name="selectedGender">
        <option selected disabled>Выберите пол:</option>
        <option value="Кобель">Кобель</option>
        <option value="Сука">Сука</option>
    </select>
    <input type="submit" value="Показать" />
</form>