
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h4>Мурманский государственный технический университет</h4>
    <h4>Кафедра математики; информационных систем и программного обеспечения</h4>
    <h4>Курсовая работа № 2 по дисциплине «Технологии программирования»</h4>
    <h4>Разработка системы информационного обеспечения клуба собаководов "ПЕС"</h4>
    <h4>Королько Виталий Сергеевич ИСТб18о-1</h4>

    <button onclick="window.location.href='/Doge/List'">Далее</button>
</body>
</html>
